body{
    background-color: black;
}
h1{
    color: white;
    font-size: 60px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
.buttons{
    margin-top: 40px;
    justify-self: center;
}

.row{  
    margin: 10px;
}

button{
    border-style: none;
    height: 100px;
    width: 100px;
    font-size: 50px;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
    background-color:rgb(74, 74, 74);
    color: white;
}

.number{
    background-color: gray;
}

.text{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    justify-self: center;
    width:50%;
    height:100px;
    border-radius: 20px;
    border: gray solid 3px;
}